<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<a class="navbar-brand" href="/">
  <img src="https://play-lh.googleusercontent.com/jKlQupIE8GbI_rcPOmzYOikRYPrR-GNKWzU6Xd2BG78O1VVF3dd8yVZCM_Ue2S9ywrc" alt="Shopsy Logo" style="max-width: 50px; height: auto;">
</a>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart  <span class="badge badge-success" id="cart-count">{{cartCount}}</span></a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                {{/if}}
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if user}}
                    {{user.Name}}
                    {{else}}
                    Account
                    {{/if}}

                </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {{#if user}}
  <a class="dropdown-item" href="/logout">Logout</a>
  {{else}}
  <a class="dropdown-item" href="/login">Login</a>
  {{/if}}
</div>

            </div>
        </div>
    </nav>
</header>
<style>
    .dropdown-menu {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: auto; /* Set width to auto */
}

.dropdown-item {
  display: block;
  padding: 10px 20px; /* Adjust padding as needed */
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  max-width: 200px; /* Set a maximum width */
  width: 100%; /* Set width to 100% */
  box-sizing: border-box; /* Include padding in width calculation */
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

</style>